<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <div class=main-container>
    <h1><%= category.name  %></h1> 
       <% category_games.map(game=>{ %> 
        <div>
         <a href=/catalog/games/<%= game._id %>> <h1><%= game.name %> </h1> </a>
         <p><%= game._id %> </p>
          <p><%=game.description %> </p>
          <p>Amount:<%= game.amount %> </p>
          <%game.plataform.map(plataform=>{ %> 
            <a href=/catalog/plataforms/<%= plataform._id %>><%= plataform.name %> </a>
            <% })  %> 
            <%game.category.map(category=>{ %> 
              <a href=/catalog/categories/<%= category._id %>><%= category.name %> </a>
              <% })  %> 
        </div>
        <%  }) %> 
        <div>
            <p>Do you really wish to delete this category?</p>
            <form method=POST action="">
                <input type=hidden name=id required=true value=<%=category._id  %> >
                <button type=submit >Delete</button>
            </form>
          </div>
          </div>
  </body>
</html>
