<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <div class=main-container>
    <h1><%= title %></h1>
      <div>
       <h1><%= game.name %> </h1>
        <p><%=game.description %> </p>
        <p>Amount :  <%= game.amount %> </p>
        <%game.plataform.map(plataform=>{ %> 
          <a class=sub-links href=/catalog/plataforms/<%= plataform._id %>><%= plataform.name %> </a>
          <% })  %> 
          <%game.category.map(category=>{ %> 
            <a class=sub-links href=/catalog/categories/<%= category._id %>> <%= category.name %> </a>
            <% })  %> 
            <div>
                <p>Do you really want to delete this game?</p>
                <form method=POST action=''>
<input type=hidden name=id required=true value=<%= game._id %> >
<button type=submit >Delete</button>
                </form>
            </div>
          </div>
    </div>
  </body>
</html>
