<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <div class=main-container>
    <h1><%= title %></h1>
    <%if(games.length>9)  { %> 
<% games=games.slice(0,9)  %> 
      <%  }%> 
    <% games.map(game=>{ %> 
      <div>
       <a href=catalog/games/<%= game._id %>> <h1><%= game.name %> </h1> </a>
        <p><%=game.description %> </p>
        <p>Amount:<%= game.amount %> </p>
        
       
        <%game.plataform.map(plataform=>{ %> 
          <a  class=sub-links href=catalog/plataforms/<%= plataform._id %>><%= plataform.name %> </a>
          <% })  %> 
       
       
          <%game.category.map(category=>{ %> 
            <a class=sub-links href=catalog/categories/<%= category._id %>><%= category.name %> </a>
            <% })  %> 
          
       
      </div>
      <%  }) %> 
    </div>
  </body>
</html>
