<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include(`./layout`) %> 
    <div>
    <h1><%= title %></h1>
    <form method=POST action="">
        <div class=form-group> 
            <label for=name> Name</label>
            <input id=name name=name type=text required=true value='<%= undefined===plataform?``:plataform.name %>'  >
        </div>
        <button type=submit>Submit</button>
    </form>
    <ul>
      <%errors.map(error=>{ %> 
        <li> <%= error.msg %> </li>
        <% })%> 
      </ul>
    </div>
  </body>
</html>